name: basicflow

on: push

jobs:
  my_first_job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout specific branch
        uses: actions/checkout@v4

      - name: Show all files
        run: |
          ls -l
          ls -la
